nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #000a06;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  color: yellow;
  position: fixed;
  top: 0;
  justify-content: space-between;

}

/* tweeter logo */
 nav span.title {
  font-family: 'Bungee', cursive;
  margin: 1.5em;
  font-size: 1.5em;
}

#write-tweet {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: transparent;
  border: none;
  outline: none;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: yellow;
  margin: 1.5em;


}
.fa-angle-double-down {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}