form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
  margin-left: 2%
}

textarea {
  display: flex;
  border-width: 0px;
  resize: none
}
/* text box */
textarea#tweet-text {
  display: flex;
  border-bottom-width: 4px;
  border-bottom-color: black;
  font-size: 20px;
  height: 40px;
  margin-bottom: .5em;
  margin-top: .5em;
  width: 100%;
  background-color: beige;

  /* tweet button and coutner */
  
}
  footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Bungee', cursive;
    margin-right: 100px;

}

footer button {
  background-color: #4056A1;
  color: #ffffff;
  padding: 2px;
  border-left: 5px;

}


footer output.counter.error {
  color: 	red
}
