article {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  border: .2em solid;
  padding: .5em;
  margin: 1em;
}

article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article footer {
  margin-top: 1em;
  border-top: .2em solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

 article h6{
  display: flex;
  align-self: flex-start;
  margin-right: auto

}
article button {
display: flex;
margin: .1em;
border: 1px solid black;
}


article:hover{
  box-shadow: 10px 10px grey;
  
}

article:hover header h5{
display: flex;
}

article header h5 {
  display:none;
}


/* tags dont need anything.... more specific  higher chance to break 
class selecting needs . re aplication
id needs #     1 specific thing */ 
