.tweets-container {
  display: flex;
  flex-direction: column;
  /* height: 250px;
  width: 100%;
  padding: .5em;
  margin: 1em;
  border: .1em solid; */

} 

.tweet-container{
  border: .1em solid black;
  padding: .5em;
  margin: 1em;
}

.tweets-container header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.tweets-container header img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; 
}

.tweets-container footer {
  margin-top: 1em;
  border-top: .2em solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.tweets-container h6{
  display: flex;
  align-self: flex-start;
  margin-right: auto

}
.tweet-container button {
  display: flex;
  margin: .1em;
  border: 1px solid black;
}


.tweet-container:hover{
  box-shadow: 10px 10px grey;
  
}

.tweet-container header h5 {
  display:none;
  align-self: flex-end;

}

.tweet-container:hover header h5{
  display: flex;
  align-self: flex-end;
  margin-left: auto
}



/* tags dont need anything.... more specific  higher chance to break 
class selecting needs . re aplication
id needs #     1 specific thing */ 
